<!-- Add new ticket button -->
<button type="button"
        class="btn btn-primary float-end m-2"
        data-bs-toggle="modal"
        data-bs-target="#staticBackdrop"
        (click)="modalAdd()"
        [disabled]="this.userService.isAuthenticated == false">
  Add new ticket
</button>


<!-- Show tickets' categories button -->
<button type="button"
        class="btn btn-secondary float-end m-2"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal">
  Show categories
</button>


<table class="table table-striped">
  <thead>
    <th>Id</th>
    <th>Ticket name</th>
    <th>Category</th>
    <th>Description</th>
    <th>Status</th>
    <th *ngIf="this.userService.isAuthenticated == true">Responsible user</th>
    <th *ngIf="this.userService.isAuthenticated == true">Created by</th>
    <th *ngIf="this.userService.isAuthenticated == true && this.userService.loggedRole != 'Admin'">Options</th>
    <th *ngIf="this.userService.isAuthenticated == true && this.userService.loggedRole == 'Admin'">Options</th>
  </thead>
  <tbody>
    <tr *ngFor="let item of ticketList$|async">
      <td>{{item.id}}</td>
      <td>{{item.ticketName}}</td>
      <td>{{categoryTypesMap.get(item.categoryTypeId)}}</td>
      <td>{{item.ticketDescription}}</td>
      <td>{{statusMap.get(item.statusId)}}</td>
      <td *ngIf="this.userService.isAuthenticated == true">{{usersMap.get(item.responsibleUserId)}}</td>
      <td *ngIf="this.userService.isAuthenticated == true">{{usersMap.get(item.addedByUserId)}}</td>
      <td>
        <div
             *ngIf="this.userService.isAuthenticated == true && (this.userService.loggedRole == 'Admin'  || this.item.responsibleUserId == currentUserId)">
          <button class="btn btn-outline-primary me-2 mb-1"
                  (click)="modalEdit(item)"
                  data-bs-toggle="modal"
                  data-bs-target="#staticBackdrop">
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="16"
                 height="16"
                 fill="currentColor"
                 class="bi bi-pencil-square"
                 viewBox="0 0 16 16">
              <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75
            2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0
            .196-.12l6.813-6.814z" />
              <path fill-rule="evenodd"
                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
            </svg>
          </button>
        </div>
        <div *ngIf="this.userService.isAuthenticated == true && this.userService.loggedRole == 'Admin'">
          <button class="btn btn-outline-danger me-2 mb-1"
                  (click)="deleteTicket(item)">
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="16"
                 height="16"
                 fill="currentColor"
                 class="bi bi-trash"
                 viewBox="0 0 16 16">
              <path
                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
              <path fill-rule="evenodd"
                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
            </svg>
          </button>
        </div>
        <div *ngIf="this.userService.isAuthenticated == true && this.item.responsibleUserId == null">
          <button class="btn me-1 mb-1"
                  (click)="modalAssign(item)">
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="16"
                 height="16"
                 fill="currentColor"
                 class="bi bi-check-circle">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
              <path
                    d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
            </svg>
          </button>
        </div>
    </tr>
  </tbody>
</table>

<div class="alert alert-success"
     role="alert"
     id="add-success-alert">
  Ticket added successfully!
</div>

<div class="alert alert-success"
     role="alert"
     id="update-success-alert">
  Ticket updated successfully!
</div>

<div class="alert alert-success"
     role="alert"
     id="delete-success-alert">
  Ticket deleted successfully!
</div>

<div class="alert alert-warning"
     role="alert"
     id="add-failed-alert">
  Ticket not added !
</div>




<!-- Add or edit ticket modal -->
<div class="modal fade"
     id="staticBackdrop"
     data-bs-backdrop="static"
     data-bs-keyboard="false"
     tabindex="-1"
     aria-labelledby="staticBackdropLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
            id="staticBackdropLabel">{{modalTitle}}</h5>
        <button type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
                (click)="modalClose()"
                id="add-edit-modal-close"></button>
      </div>
      <div class="modal-body">
        <app-add-edit-ticket [ticket]="ticket"
                             *ngIf="activateAddEditTicketComponent"></app-add-edit-ticket>
      </div>
    </div>
  </div>
</div>


<!-- Show categories modal -->
<div class="modal fade"
     id="exampleModal"
     tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
            id="exampleModalLabel">Categories</h5>
        <button type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p *ngFor="let category of categoryTypesList$|async">{{category.id}} - {{category.categoryName}}</p>
      </div>
    </div>
  </div>