#register-success-alert {
    display: none;
}

#register-success-alert
 {
  animation-name: fadeInAndOut;
  animation-duration: 4s;
}

@keyframes fadeInAndOut{
    0% {opacity:0;}
    50% {opacity:1;}
    100% {opacity:0;}
}