<main class="login-form">
  <div class="cotainer">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="alert alert-success"
               role="alert"
               id="register-success-alert">
            User registered successfully!
          </div>

          <div class="card-body">
            <form action=""
                  method=""
                  #f="ngForm"
                  (ngSubmit)="onSubmit(f)">
              <div class="form-group row m-2">
                <label for="firstName"
                       class="col-md-4 col-form-label text-md-left">First name</label>
                <div class="col-md-6">
                  <input type="text"
                         id="firstName"
                         class="form-control"
                         name="firstName"
                         ngModel
                         required
                         #firstName="ngModel"
                         autofocus>
                </div>
              </div>

              <div class="form-group row m-2">
                <label for="lastName"
                       class="col-md-4 col-form-label text-md-left">Last name</label>
                <div class="col-md-6">
                  <input type="text"
                         id="lasttName"
                         class="form-control"
                         name="lastName"
                         ngModel
                         required
                         #lastName="ngModel"
                         autofocus>
                </div>
              </div>

              <div class="form-group row m-2">
                <label for="email"
                       class="col-md-4 col-form-label text-md-left">Email</label>
                <div class="col-md-6">
                  <input type="text"
                         id="email"
                         class="form-control"
                         name="email"
                         ngModel
                         required
                         #email="ngModel"
                         autofocus>
                </div>
              </div>

              <div class="form-group row m-2">
                <label for="dateOfBirth"
                       class="col-md-4 col-form-label text-md-left">Date of birth</label>
                <div class="col-md-6">
                  <input type="date"
                         id="dateOfBirth"
                         class="form-control"
                         name="dateOfBirth"
                         ngModel
                         required
                         #dateOfBirth="ngModel"
                         autofocus>
                </div>
              </div>

              <div class="form-group row m-2">
                <label for="nationality"
                       class="col-md-4 col-form-label text-md-left">Nationality</label>
                <div class="col-md-6">
                  <select class="form-control"
                          name="country"
                          id="country"
                          name="nationality"
                          ngModel
                          required
                          #nationality="ngModel"
                          autofocus>
                    <option value=""
                            disabled
                            selected>Select Country</option>
                    <option *ngFor="let country of countries"
                            [value]="country.name"
                            inputmode="">{{country.name}}</option>
                  </select>
                </div>

              </div>

              <div class="form-group row m-2">
                <label for="password"
                       class="col-md-4 col-form-label text-md-left">Password</label>
                <div class="col-md-6">
                  <input type="password"
                         id="password"
                         class="form-control"
                         name="password"
                         ngModel
                         required
                         #password="ngModel"
                         autofocus>
                </div>
              </div>

              <div class="form-group row m-2">
                <label for="confirmPassword"
                       class="col-md-4 col-form-label text-md-left">Confirm password</label>
                <div class="col-md-6">
                  <input type="password"
                         id="confirmPassword"
                         class="form-control"
                         name="confirmPassword"
                         ngModel
                         required
                         #confirmPassword="ngModel"
                         autofocus>
                </div>
              </div>

              <div class="form-group row"
                   hidden>
                <div class="col-md-2 offset-md-2">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"
                             name="remember"> Remember Me
                    </label>
                  </div>
                </div>
              </div>

              <div class="col-md-6 offset-md-4">
                <button type="submit"
                        class="btn btn-primary m-2"
                        [disabled]="f.invalid">
                  Register
                </button>
                <a href="#"
                   class="btn btn-link"
                   hidden>
                  Forgot Your Password?
                </a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>